
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}/static/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}/static/css/nv.d3.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}/static/css/style.css" />
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/humanize/humanize.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/jquery/jquery.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/bootstrap/bootstrap.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/d3/d3.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/d3/d3.v3.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/nvd3/nv.d3.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/datgui/dat.gui.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}/static/js/bootstrap/bootstrapx-clickover.js"></script>

    <title>{% block title %}SlamRobotics{% endblock %}</title>
    {% block script_datgui %}
    {% endblock %}

</head>

<body>

{% include "navigation.html" %}

{% block content %}
{% endblock %}

</body>
</html>